body {
  background-color: #f0f8ff;
  /* Light blue background for the whole page */
  font-family: Montserrat;
  font-size :medium

}

.jumbotron {

  /* Light blue hero section */
  color: #ffffff;
}

.my-6 {
  margin-top: 5rem;  /* or any value you prefer */
  margin-bottom: 5rem;
}

.btn-light {
  background-color: #87cefa;
  /* Light sky blue button */
  border: none;
  color: #004080;
}

.btn-light:hover {
  background-color: #4682b4;
  /* Darker blue on hover */
  color: #ffffff;
}

.card {
  border: none;
}

.card-img-top {
  border-radius: 0;
}

.footer {
  background-color: #004080;
  /* Cool blue footer */
  color: #ffffff;
}

.bungee-s {
  font-family: "Bungee Shade";
  font-weight: bold;
  color: black !important;
}

h2,
h5 {
  font-family: "Bungee";
}

#nav-rules h4 {
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: "Bungee";
}

#nav-rules h5 {
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 16px;
  font-family: Bungee
}

.indented-columns {
  padding-left: 20px; /* Adjust the value as needed */
}

.indented-columns .col-md-4 {
  padding-left: 10px; /* Adjust the value as needed */
}


.hero-section {
  background-image: url('Resources/winter-mountains-cover.jpg');
  background-size: cover;
  background-position: center;
  color: black;
  font-weight: bold;
}


/* Customizing the nav tabs */
.nav-tabs {
  border-bottom: 2px solid #87cefa;
  /* Blue underline for the nav tabs */
  margin-bottom: 15px;

  /* Margin below the nav tabs */
}

.nav-tabs .nav-link {
  background-color: #87cefa;
  /* Light blue background */
  border: 0px solid #a7d6f6;
  /* Light blue border */
  border-radius: 5px 5px 0 0;
  /* Rounded corners on the top */
  margin-right: 2px;
  /* Space between tabs */
  font-size: 15px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

}

/* Active tab styling */
.nav-tabs .nav-link.active {
  background-color: #ffffff;
  /* Blue background for active tab */
  border-color: #0056b3;
  /* Darker blue border for active tab */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Subtle shadow for active tab */
  font-size: 30px;
}

/* Hover state for tabs */
.nav-tabs .nav-link:hover {
  color: #fff;
  /* White text on hover */
  background-color: #0096ff;
  /* Slightly darker blue on hover */
  border-color: #007bff;
  /* Darker blue border on hover */
}

.nav-link.active:hover { 
  background-color: #ffffff;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center
}

.buy-btn {
  width: 180px;
  height: 70px;
  font-family: "Bungee Shade";
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.buy-btn:hover {
  box-shadow: inset 0 0 0 4px #ef476f, 
              inset 0 0 0 8px #ffd166, 
              inset 0 0 0 12px #06d6a0,
              inset 0 0 0 16px #118ab2;
  background: #073b4c;
  color: #fff;
}